@font-face {
  font-family: 'Chopin Script';
  src: url('font/Sontiro.ttf');
  
}
@font-face {
  font-family: 'Dancing Script';
  src: url('font/Dancing Script.ttf');
}

@keyframes shake {
  0% { transform: translateX(0px); }
  10% { transform: translateX(-5px); }
  20% { transform: translateX(5px); }
  30% { transform: translateX(-5px); }
  40% { transform: translateX(5px); }
  50% { transform: translateX(-5px); }
  60% { transform: translateX(5px); }
  70% { transform: translateX(-5px); }
  80% { transform: translateX(5px); }
  90% { transform: translateX(-5px); }
  100% { transform: translateX(0px); }
}


.pin-input.error {
  animation: shake 0.5s; /* Apply the shaking animation */
  animation-iteration-count: 1; /* Shake once */
}


body {
  font-family: 'Georgia', serif;
  background-color: #f9f9f9;
  margin: 0; 
}

#main-content {
  opacity: 0; /* Start hidden */
  visibility: hidden; /* Start hidden */
  transition: opacity 1s ease-out, visibility 1s ease-out; /* Transition effect */
}

#main-content.visible {
  opacity: 1; /* End visible */
  visibility: visible; /* End visible */
}

.center-content { /* PIN */
  font-family: 'Dancing Script';
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.pin-access-form { /* New class */
  display: flex;
  flex-direction: column; /* Makes its contents stack vertically */
  align-items: center;
}

.pin-input {
  padding: 10px;
  margin: 5px;
  width: 200px;
  border: 2px solid #888; /* Change the border color and width */
  border-radius: 25px; /* Add border radius to make the input field rounder */
  color: #333; /* Change the text color */
  outline: none; /* Remove the default browser outline */
}

.pin-input:focus { /* Add styling for when the input field is focused */
  border-color: #666;
}

.pin-input, .pin-button { /* New classes for the input field and button */
  padding: 10px;
  font-size: 1.2em;
  margin: 5px;
  width: 200px; /* Set a width for the input field and button */
}

.pin-button {
  font-family: 'Dancing Script';
  background-color: #fff;
  color: #333;
  margin-top: 30px;
  padding: 10px;
  font-size: 22px;
  border: 2px solid #888;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pin-button:hover {
  color: white;
  background-color: #999;
}

.navbar {
  text-align: center;
  padding: 20px;
  letter-spacing: 1px;
}

.header {
  margin-bottom: 50px; /* Added to create some vertical space below the header */
}

.navbar h1 { /*Olivia Kumail*/
  font-size: 40px;
  color: #333;
  font-family: 'Chopin Script';
  letter-spacing: 4px;
  margin-bottom: 0;
  margin-top: 0;
}

.navbar p { /*Date */
  font-size: 16px;
  color: #333;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 1px;
}

.nav-links { /*Navigation Pages */
  display: flex;
  justify-content: center;
  gap: 60px;
}

.navbar a.active {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.navbar a {
  color: #888;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 2px solid transparent; /* Add a transparent border */
}

.navbar a:hover {
  color: #666;
}

.image-container { /* New class */
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.image {
  width: 90%;
}

.navbar input[type="checkbox"] {
  display: none; /* Hide the checkbox */
}

.hamburger-lines {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  width: 30px;
  height: 22px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.hamburger-lines .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333;
  transition: all 0.6s ease;
}

/* Transform the hamburger icon into an 'X' when the checkbox is checked */
.navbar input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg) translateY(14px);
}

.navbar input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  opacity: 0;
}

.navbar input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg) translateY(-14px);
}

@media (min-width: 768px) {
  .hamburger-lines {
    display: none;
  }
  .nav-links {
    transform: none;
    position: static; /* Override the fixed position on larger screens */
  }
}

/* Mobile styles */
@media (max-width: 768px) {
  .hamburger-lines {
    display: flex; /* Show the hamburger icon on mobile */
    z-index: 2;
  }

  .navbar h1 {
    padding-top: 33px;
    font-size: 24px;
  }

  .navbar p {
    font-size: 11px;
  }

  .nav-links {
    flex-direction: column; /* Stack the menu items vertically on mobile */
    position: fixed; /* Make the menu items cover the entire screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #f9f9f9; /* Change the background color as needed */
    padding-top: 30px; /* Add some padding at the top for the hamburger icon */
    align-items: center; /* Center the menu items */
    transform: translateX(-100%); 
    transition: transform .5s ease-in
  }

  .nav-links a {
    font-size: 18px; /* Increase the font size on mobile */
    margin-bottom: 5px; /* Add some vertical spacing between the menu items */
    color: #333;
  }

  input[type="checkbox"]:checked ~ .nav-links {
    transform: translateX(0);
}

.center-content {
  font-size: 18px;
  padding: 10px; /* add padding to prevent the content from touching the screen edges */
}

.pin-access-form {
  width: 80%; /* reduce the width of the form */
  margin: 0 auto; /* center the form */
}

.pin-input, .pin-button {
  font-size: 1em; /* reduce the font size */
  width: 100%; /* make the input field and button take up the full width of the form */
}
}
